@font-face {
  font-family: coder;
  src: url(PressStart2P-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  color: greenyellow;
  font-family: coder;
  font-size: 20px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(58, 52, 52);
}

.calculator-body {
  text-align: center;
  height: auto;
  width: 420px;
  border: 2px solid black;
  background-color: rgb(17, 105, 35);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
}

.screen {
  height: 115px;
  margin-top: 10px;
  background-color: black;
  border-radius: 6px;
  padding: 10px;
  text-align: right;
}

.buttons-grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; 
}

.clear, .delete {
  grid-column: span 2;
}

.btn {
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px;
  background-color: black;
}

.btn:hover {
  background-color: rgb(156, 152, 152);
  cursor: pointer;
}